@charset "ISO-8859-1";

@media only screen 
   and (max-device-width: 480px) 
   and (orientation:landscape) {
    /* iPhone landscape */
}

@media only screen 
   and (max-device-width: 480px) 
   and (orientation:portrait) {
    /* iPhone portrait */
}

a.button{
    -moz-appearance: button;
    appearance: button;
	padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    color: initial;
    width: 150px;
    box-sizing: conter-box;
}

.name_group{
	display: inline-block;
	margin: 5px 0px 5px 0px;
}

table#team {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center; 

}
table#team tr:nth-child(even) {
    background-color: #eee;
    border: 1px solid black;
	border-collapse: collapse;
	text-align: center; 
}
table#team tr:nth-child(odd) {
   background-color: #fff;
   	border: 1px solid black;
	border-collapse: collapse;
	text-align: center; 
}